<p-table [value]="appointments" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Especialista</th>
            <th>Especialidad</th>
            <th>Paciente</th>
            <th pSortableColumn="day">Dia</th>
            <th>Hora</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-appointment>
        <tr [rowStatus]="appointment.status">
            <td>{{ appointment.specialistId | userIdToFullname | async }}</td>
            <td>{{ appointment.specialty }}</td>
            <td>{{ appointment.patientId | userIdToFullname | async }}</td>
            <td>{{ appointment.day }}</td>
            <td>{{ appointment.time }}</td>
            <td>
                <div [ngClass]="getClassByStatus(appointment.status)"
                    style="padding: 5px 8px; border-radius: 15px; width: min-content;">
                    {{ appointment.status }}
                </div>
            </td>
            <td>

                <ng-container *ngIf="userType === 'specialist'">
                    <div style="display: flex; gap: 8px;">
                        <button class="outlined" *ngIf="appointment.status === status.Confirmed" pButton
                            (click)="handleActionClick(appointment, status.Cancelled)">Cancelar</button>

                        <button class="outlined" *ngIf="appointment.status === status.Pending" pButton
                            (click)="handleActionClick(appointment, status.Rejected)">Rechazar</button>

                        <button *ngIf="appointment.status === status.Pending" pButton
                            (click)="handleActionClick(appointment, status.Confirmed)">Aceptar</button>

                        <button *ngIf="appointment.status === status.Confirmed" pButton
                            (click)="handleActionClick(appointment, status.Done)">Finalizar</button>

                        <button *ngIf="appointment.reason" pButton (click)="handleActionClick(appointment)">Ver
                            comentarios</button>

                        <button pButton (click)="handleActionClick(appointment, 'patient-history')"
                            *ngIf="appointment.status === status.Done && !appointment?.hasHistory">
                            Actualizar historia clínica
                        </button>
                    </div>
                </ng-container>

                <ng-container *ngIf="userType === 'patient'">
                    <div style="display: flex; gap: 8px;">
                        <button class="outlined"
                            *ngIf="appointment.status !== status.Done  && appointment.status !== status.Cancelled"
                            pButton (click)="handleActionClick(appointment, status.Cancelled)">Cancelar</button>

                        <button *ngIf="appointment.reason" pButton
                            (click)="handleActionClick(appointment, 'comments')">Ver comentarios</button>
                        <button *ngIf="appointment.status === status.Done && !appointment?.rating" pButton
                            (click)="handleActionClick(appointment, 'rating')">Calificar atencion</button>

                        <button
                            *ngIf="appointment.status === status.Done && appointment?.reason && !appointment?.survey"
                            pButton (click)="handleActionClick(appointment, 'survey')">Completar encuesta</button>
                    </div>
                </ng-container>

                <ng-container *ngIf="userType === 'admin'">
                    <div style="display: flex; gap: 8px;">
                        <button class="outlined" pButton
                            *ngIf="appointment.status !== status.Done  && appointment.status !== status.Cancelled"
                            (click)="handleActionClick(appointment, status.Cancelled)">Cancelar</button>
                    </div>
                </ng-container>

            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td *ngIf="loading" colspan="5">
                <div class="loading-table-container">
                    Cargando...
                    <i class="pi pi-spin pi-spinner"></i>
                </div>
            </td>
            <td *ngIf="!loading && !appointments.length" colspan="5">No se encontraron turnos</td>
        </tr>
    </ng-template>
</p-table>