<p-toast></p-toast>
<new-user [visible]="registerModal" (onCancel)="registerModal = false" />

<p-dialog *ngIf="selectedUserId" [draggable]="false" [(visible)]="patientHistoryModal" [modal]="true"
    (onHide)="handleHideModal()" [style]="{ minWidth: '550px' }">
    <ng-container *ngIf="selectedUserId">
        <patient-history-detail [userId]="selectedUserId" />
    </ng-container>
</p-dialog>

<div class="screen">
    <div style="width: 100%; padding: 0 50px;">

        <div class="action-header">
            <h1>Gestión de Usuarios</h1>
            <div style="display: flex; gap: 8px;">
                <button pButton (click)="handleDownloadTable()">Exportar como Excel</button>
                <button pButton (click)="registerModal = true">Nuevo +</button>
            </div>
        </div>
        <div style="max-height: 520px; overflow-y: scroll;">

            <p-table [value]="allUsers" [tableStyle]="{ 'min-width': '50rem', 'max-height': '550px' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Correo</th>
                        <th>Obra social</th>
                        <th>Especialidad</th>
                        <th style="width: 5rem">Acciones</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-user>
                    <tr>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.healthcare ?? '-' }}</td>
                        <td>{{ user.specialty ?? '-' }}</td>
                        <td *ngIf="user.specialty">
                            <button class="action-button" (click)="handleSetUserStatus(user)"
                                [disabled]="updateUserLoading" pButton>
                                {{user.disabled ? 'Habilitar' : 'Deshabilitar'}}
                                <i *ngIf="updateUserLoading" class="pi pi-spin pi-spinner"></i>
                            </button>
                        </td>
                        <td *ngIf="user.healthcare">
                            <button class="action-button" [disabled]="updateUserLoading" pButton
                                (click)="handlePatientHistoryModal(user)">
                                Ver historia clinica
                            </button>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td *ngIf="getUsersLoading" colspan="7">
                            <div class="loading-table-container">
                                Cargando...
                                <i class="pi pi-spin pi-spinner"></i>
                            </div>
                        </td>
                        <td *ngIf="!getUsersLoading" colspan="7">No se encontraron usuarios</td>
                    </tr>
                </ng-template>
            </p-table>

        </div>


    </div>
</div>