<p-toast></p-toast>
<p-dialog [header]="'Motivo'" [(visible)]="dialogVisible" [modal]="true" [draggable]="false"
    [style]="{ width: '350px' }">
    <div style="width: 100%;">
        <textarea placeholder="Comentario" style="width: 100%;" type="text" pInputText [(ngModel)]="reason"></textarea>
    </div>
    <div style="display: flex; width: 100%; justify-content: flex-end; align-items: center; margin-top: 10px;">
        <button [disabled]="loadingModal" (click)="handleConfirmDialog()" pButton>
            Confirmar
            <i *ngIf="loadingModal" class="pi pi-spin pi-spinner"></i>
        </button>
    </div>
</p-dialog>

<!-- <p-dialog header="Comentarios" [(visible)]="commentsDialogVisible" [modal]="true" [draggable]="false"
    [style]="{ width: '350px' }">
    {{actionData?.appointment?.reason}}
</p-dialog> -->

<div class="screen">

    <div style="display: flex; flex-direction: column; width: 100%; padding: 0 50px;">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <div style="display: flex; align-items: center; gap: 8px;">
                <arrow-back></arrow-back>
                <h1>Mis turnos</h1>
            </div>
            <input type="text" pInputText [(ngModel)]="filterCriteria" placeholder="Filtrar">
        </div>

        <div>
            <appointments-table (onActionClick)="handleActionClick($event)" [appointments]="getFilteredAppointments()"
                userType='admin' />
        </div>

    </div>
</div>