<p-toast></p-toast>
<div class="screen">

    <div class="create-appointment-container">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <div style="display: flex; align-items: center; gap: 8px;">
                <arrow-back></arrow-back>
                <h1>Solicitar turno</h1>
            </div>
            <button (click)="handleSubmit()"
                [disabled]="createAppointmentLoading || !selectedSpecialty || !selectedSpecialist || !selectedSpecialistDay || !selectedInterval || !selectedPatient"
                pButton>
                Confirmar
                <i *ngIf="createAppointmentLoading" class="pi pi-spin pi-spinner"></i>
            </button>
        </div>

        <ng-container *ngIf="selectedSpecialty">
            <div class="brief">
                <h3>Resumen</h3>
                <span>Especialidad: {{selectedSpecialty}}</span>
                <span *ngIf="selectedSpecialist">Especialista: {{selectedSpecialist.firstName + ' '+
                    selectedSpecialist.lastName}}</span>
                <span *ngIf="selectedSpecialistDay">Dia: {{selectedSpecialistDay}}</span>
                <span *ngIf="selectedInterval">Horario: {{selectedInterval}}</span>
            </div>
        </ng-container>

        <ng-container *ngIf="!selectedSpecialty">
            <h2> Selecciona una especialidad</h2>
            <div class="specialties-row">
                <img (click)="handleChangeSpecialty(item.displayName)" [pTooltip]="item.displayName"
                    tooltipPosition="bottom" *ngFor="let item of allSpecialties"
                    [src]="item.attachedFilePath || 'assets/default-image.svg'" alt="">
            </div>
        </ng-container>

        <ng-container *ngIf="selectedSpecialty && !selectedSpecialist">
            <h2><span (click)="handleCancelSelection(2)"><- </span> Selecciona un especialista en {{selectedSpecialty}}
            </h2>
            <div class="specialties-row">
                <div class="user" *ngFor="let item of specialists">
                    <img (click)="handleChangeSpecialist(item)" tooltipPosition="bottom"
                        [src]="item.attachedImage || 'assets/default-image.svg'">
                    <span>{{item.firstName + ' ' + item.lastName}}</span>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="selectedSpecialist && !selectedSpecialistDay">
            <h2><span (click)="handleCancelSelection(3)"><- </span> Selecciona el dia</h2>
            <div class="specialties-row">
                <div (click)="handleSetDay(day)" class="day-container" *ngFor="let day of selectedSpecialist.schedule">
                    {{day.day | formatDate}}
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="selectedSpecialistDay && (!selectedInterval || !currentUser?.admin)">
            <h2><span (click)="handleCancelSelection(4)"><- </span> Selecciona el horario</h2>
            <div class="specialties-row">
                <div (click)="handleSetInterval(interval)" class="day-container"
                    [class.selected]="interval.time === selectedInterval" *ngFor="let interval of availableIntervals">
                    {{interval.time}}
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="selectedInterval && currentUser?.admin">
            <h2><span (click)="handleCancelSelection(5)"><- </span> Selecciona el paciente</h2>
            <div class="specialties-row">

                <div *ngIf="currentUser?.admin" class="col-12 md:col-6 input-container">
                    <p-dropdown class="p-fluid" [loading]="loadingUsers" appendTo="body"
                        emptyMessage="No hay opciones disponibles" [options]="patients" [(ngModel)]="selectedPatient"
                        placeholder="Seleccionar paciente" optionValue="id" optionLabel="displayName" />
                </div>

            </div>
        </ng-container>


        <!-- <div class="grid">

            <div class="col-12 md:col-6 input-container">
                <label for="">Especialidad</label>
                <p-dropdown class="p-fluid" [loading]="loadingSpecialties" (onChange)="handleChangeSpecialty($event)"
                    appendTo="body" [options]="allSpecialties" [(ngModel)]="selectedSpecialty"
                    emptyMessage="No hay opciones disponibles" placeholder="Seleccionar especialidad"
                    optionValue="displayName" optionLabel="displayName" />
            </div>
            <div class="col-12 md:col-6 input-container">
                <label for="">Especialista</label>
                <p-dropdown class="p-fluid" [loading]="loadingSpecialists" (onChange)="handleChangeSpecialist($event)"
                    appendTo="body" emptyMessage="No hay opciones disponibles" [options]="specialists"
                    [(ngModel)]="selectedSpecialist" placeholder="Seleccionar especialista" optionValue="id"
                    optionLabel="displayName" />
            </div>

            <div *ngIf="currentUser?.admin" class="col-12 md:col-6 input-container">
                <label for="">Paciente</label>
                <p-dropdown class="p-fluid" [loading]="loadingUsers" appendTo="body"
                    emptyMessage="No hay opciones disponibles" [options]="patients" [(ngModel)]="selectedPatient"
                    placeholder="Seleccionar paciente" optionValue="id" optionLabel="displayName" />
            </div>
        </div> -->

        <!-- <div class="schedule-container" *ngIf="selectedSpecialistSchedule.length">
            <h2>Turnos disponibles</h2>

            <div style="display: flex; gap: 10px;">
                <div class="day-container" *ngFor="let day of selectedSpecialistSchedule">
                    <span>
                        {{day[0] | dateToDayNumber}}
                    </span>

                    <div style="display: flex; flex-direction: row; gap: 8px;">
                        <div *ngFor="let dayData of day[1]" (click)="handleSelectTime(dayData)" class="time-container"
                            [class.selected]="selectedDateTime.day === dayData.day && selectedDateTime.time === dayData.time">
                            {{dayData.time}}
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- <div class="schedule-container" *ngIf="!selectedSpecialistSchedule.length && selectedSpecialist">
            <h2 style="margin-top: 30px;">No hay turnos disponibles para el especialista seleccionado</h2>
        </div> -->

    </div>
</div>