<p-toast></p-toast>
<div class="screen">

    <div class="create-appointment-container">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <div style="display: flex; align-items: center; gap: 8px;">
                <arrow-back></arrow-back>
                <h1>Solicitar turno</h1>
            </div>
            <button (click)="handleSubmit()"
                [disabled]="!selectedDateTime.day || !selectedPatient || createAppointmentLoading" pButton>
                Solicitar
                <i *ngIf="createAppointmentLoading" class="pi pi-spin pi-spinner"></i>
            </button>
        </div>
        <div class="grid">

            <div class="col-12 md:col-6 input-container">
                <label for="">Especialidad</label>
                <p-dropdown class="p-fluid" [loading]="loadingSpecialties" (onChange)="handleChangeSpecialty($event)"
                    appendTo="body" [options]="allSpecialties" [(ngModel)]="selectedSpecialty"
                    emptyMessage="No hay opciones disponibles" placeholder="Seleccionar especialidad"
                    optionValue="displayName" optionLabel="displayName" />
            </div>
            <div class="col-12 md:col-6 input-container">
                <label for="">Especialista</label>
                <p-dropdown class="p-fluid" [loading]="loadingSpecialists" (onChange)="handleChangeSpecialist($event)"
                    appendTo="body" emptyMessage="No hay opciones disponibles" [options]="specialists"
                    [(ngModel)]="selectedSpecialist" placeholder="Seleccionar especialista" optionValue="id"
                    optionLabel="displayName" />
            </div>

            <div *ngIf="currentUser?.admin" class="col-12 md:col-6 input-container">
                <label for="">Paciente</label>
                <p-dropdown class="p-fluid" [loading]="loadingUsers" appendTo="body"
                    emptyMessage="No hay opciones disponibles" [options]="patients" [(ngModel)]="selectedPatient"
                    placeholder="Seleccionar paciente" optionValue="id" optionLabel="displayName" />
            </div>
        </div>

        <div class="schedule-container" *ngIf="selectedSpecialistSchedule.length">
            <h2>Turnos disponibles</h2>

            <div style="display: flex; gap: 10px;">
                <div class="day-container" *ngFor="let day of selectedSpecialistSchedule">
                    <span>
                        {{day[0] | dateToDayNumber}}
                    </span>

                    <div style="display: flex; flex-direction: row; gap: 8px;">
                        <div *ngFor="let dayData of day[1]" (click)="handleSelectTime(dayData)" class="time-container"
                            [class.selected]="selectedDateTime.day === dayData.day && selectedDateTime.time === dayData.time">
                            {{dayData.time}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>