<div class="screen welcome">
    <h1>Bienvenido a <i>Clinicapp</i></h1>
    <div class="row-layout">
        <div class="title-container">
            <h1 class="title-health">TU SALUD</h1>
            <h2 class="title-priority">ES NUESTRA PRIORIDAD</h2>

            <div class="actions">
                <button (click)="handleNavigation('register')" class="btn outlined" pButton>Crear cuenta</button>
                <button (click)="handleNavigation('login')" class="btn filled" pButton>Iniciar sesión</button>
            </div>
        </div>

        <img class="welcome-image"
            src="https://st4.depositphotos.com/26044198/29025/v/450/depositphotos_290256352-stock-illustration-vector-modern-flat-online-medicine.jpg"
            alt="">
    </div>

</div>