<p-dialog header="Crear horario" [modal]="true" [(visible)]="visible" [draggable]="false" [style]="{ width: '550px' }">
    <div style="display: flex; flex-direction: column; gap: 20px; padding: 5px;">

        <div style="display: flex; flex-direction: column;">
            <label for="">Día</label>
            <input pInputText [min]="todayDate" class="p-fluid" type="date" [(ngModel)]="selectedDay">

        </div>
        <div style="display: flex; flex-direction: column;">
            <label>Hora</label>
            <input pInputText class="p-fluid" type="time" [(ngModel)]="selectedTime">
        </div>

        <div style="display: flex; width: 100%; justify-content: flex-end; gap: 10px;">
            <button (click)="handleCloseAndSetDefault()" class="outlined" pButton>Cancelar</button>
            <button class="filled" [disabled]="updateUserLoading" (click)="handleConfirm()" pButton>
                Confirmar
                <i *ngIf="updateUserLoading" class="pi pi-spin pi-spinner"></i>
            </button>
        </div>
    </div>
</p-dialog>

<p-toast></p-toast>

<div class="screen">
    <div class="profile-container">

        <div style="display: flex; align-items: center; gap: 8px;">
            <arrow-back></arrow-back>
            <h1>Tu perfil</h1>
        </div>
        <div class="user-data-row">
            <div class="user-images">
                <div *ngFor="let image of userImages" [ngClass]="image.foreground ? 'foreground' : 'background'">
                    <img (click)="handleClickImage(image)" [src]="image.path" alt="">
                </div>
                <div class="image-loader" *ngIf="loadingImages">
                    <i class="pi pi-spin pi-spinner"></i>
                </div>
            </div>

            <div class="user-detail">
                <ng-container *ngIf="!loadingUser">
                    <h2>Informacion general</h2>
                    <span><strong>Nombre:</strong> {{userData.firstName + ' ' + userData.lastName}}</span>
                    <span><strong>Documento:</strong> {{userData.dni}}</span>
                    <span><strong>Correo:</strong> {{userData.email}}</span>
                    <span *ngIf="userData.admin"><label>Administrador</label></span>

                    <ng-container *ngIf="userData.healthcare">
                        <span><strong>Obra social:</strong> {{userData.healthcare}}</span>
                        <span *ngIf="userData.healthcare"><label>Usuario Paciente</label></span>
                    </ng-container>

                    <ng-container *ngIf="userData.specialty">
                        <span><strong>Especialidad:</strong> {{userData.specialty}}</span>
                        <span *ngIf="userData.healthcare"><label>Usuario Especialista</label></span>
                    </ng-container>

                </ng-container>

                <ng-container *ngIf="loadingUser">
                    <i class="pi pi-spin pi-spinner"></i>
                </ng-container>

            </div>
        </div>

        <ng-container *ngIf="userData && userData?.specialty">
            <div class="schedule-section">
                <div class="schedule-title">
                    <h1>Mis horarios</h1>
                    <button (click)="visible = true" pButton>Nuevo horario</button>
                </div>

                <div class="days-row">
                    <div class="day-card" *ngFor="let dayData of specialistSchedule">
                        <span>{{dayData[0] | dateToDayNumber}} </span>
                        <div class="turn-list">
                            <div *ngFor="let turn of dayData[1];">
                                {{turn.time}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

    </div>
</div>