@import '../../../styles.scss';

.patient-history-detail {
    border: 2px solid $primary-color-1;
    border-radius: 10px;
    padding: 0 20px;
    padding-bottom: 25px;

    .history-content {
        display: flex;
        margin-top: 10px;
        width: 100%;
        flex-wrap: wrap;
        gap: 30px;
    }

    .loading-container {
        display: flex;
        justify-content: center;
        width: 100%;

        i {
            font-size: 24px;
            color: $primary-color-1;
        }
    }

    .appointment-list {
        display: flex;
        flex-direction: column;
        width: 300px;
        gap: 8px;
        border-right: 2px solid $color-1;
        padding-right: 25px;
        max-height: 600px;
        overflow-y: auto;

        .appointment-item {
            display: flex;
            flex-direction: column;
            padding: 10px;
            border: 1px solid $color-1;
            border-radius: 8px;
            cursor: pointer;
            transition: 0.3s all ease;
            margin-left: 10px;

            .time-row {
                margin: 5px 0;

            }

            span {
                font-weight: bold;
            }
        }
    }

    .stats {
        display: flex;
        justify-content: flex-start;
        max-width: 700px;
        flex-wrap: wrap;
        gap: 30px;

        .field-section {
            display: flex;
            flex-direction: column;
            gap: 6px;
        }
    }

    input {
        width: 280px;
    }

    .select-history {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: max-content;

        h3 {
            color: $primary-color-1;
        }
    }

    .selected {
        background-color: rgb(255, 255, 255);
        color: $primary-color-1;
        border: 1px solid $primary-color-1 !important;
        transform: scale(1.05);
        transition: 0.2s all ease;

        span {
            color: $primary-color-1 !important;
        }
    }
}