<p-toast></p-toast>
<div class="screen welcome">
    <div style="display: flex; align-items: center; width: 100%; gap: 8px;">
        <arrow-back />
        <h1 class="title-health">Inicia sesión</h1>
    </div>

    <div class="login-form">

        <div class="form-content">
            <label for="email">Email</label>
            <input id="email" [(ngModel)]="user.email" type="text" pInputText>

            <label for="password">Contraseña</label>
            <input id="password" [(ngModel)]="user.password" type="password" pInputText>

            <button (click)="handleSubmit()" [disabled]="loginLoading" pButton style="width: min-content;">
                Ingresar
                <i *ngIf="loginLoading" class="pi pi-spin pi-spinner"></i>
            </button>

        </div>

        <div class="quick-setup-users">
            <h3>Usuarios de inicio rápido</h3>

            <ng-container *ngIf="!defaultUsersLoading">
                <div class="chip" *ngFor="let user of defaultUsers">
                    <p-chip (click)="handleSelectUser(user)" [label]="user.firstName + user.lastName" [image]="user.imagePath[0]" alt="Avatar image" />
                </div>
            </ng-container>

            <ng-container *ngIf="defaultUsersLoading">
                <div>
                    <i class="pi pi-spin pi-spinner"></i>
                </div>
            </ng-container>
            <!-- <img style="min-width: 670px;"
                src="https://st4.depositphotos.com/26044198/29025/v/450/depositphotos_290256352-stock-illustration-vector-modern-flat-online-medicine.jpg"
                alt=""> -->
        </div>

    </div>

</div>