<div class="screen">

    <div class="home-container">
        <ng-container *ngIf="!currentUserLoading">

            <h1 *ngIf="currentUser.firstName">¡Bienvenido, {{currentUser.firstName}}! 😄</h1>
            <h2 *ngIf="currentUser">¿Qué vamos a hacer hoy?</h2>

            <div class="actions">
                <div *ngIf="currentUser?.healthcare || currentUser?.admin" class="action-card"
                    (click)="handleNavigate('create-appointment')">
                    <span>
                        Solicitar turno
                    </span>
                    <i class="pi pi-calendar-plus"></i>
                </div>
                <div class="action-card" (click)="handleNavigateByUserType()">
                    <span>
                        Mis turnos
                    </span>
                    <i class="pi pi-list-check"></i>
                </div>
                <div class="action-card" (click)="handleNavigate('profile')">
                    <span>
                        Perfil
                    </span>
                    <i class="pi pi-id-card"></i>
                </div>
                <div *ngIf="currentUser?.specialty" class="action-card" (click)="handleNavigate('my-patients')">
                    <span>
                        Mis pacientes
                    </span>
                    <i class="pi pi-users"></i>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="currentUserLoading">
            <div style="display: flex; margin-top: 100px; justify-content: center; align-items: center;">
                <i class="pi pi-spin pi-spinner"></i>
            </div>
        </ng-container>

    </div>
</div>