@import "primeicons/primeicons.css";

$primary-color-1: #589bec;
$primary-color-2: rgb(220, 226, 233);
$color-1: rgb(179, 207, 238);
$primary-color-darker: #2972cc;
$base-white: white;


body {
    padding: 0px;
    margin: 0px;
}

.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.btn {
    border-radius: 25px;
    font-weight: 600;
}

.filled {
    background-color: $primary-color-1;
    color: $base-white;
}

.outlined {
    background-color: $base-white;
    border: 2px solid $primary-color-1;
    color: $primary-color-1;
}

h1 {
    color: $primary-color-1;
}

.input-container {
    display: flex;
    flex-direction: column;

    label {
        margin-bottom: 8px;
    }

    .file-label {
        margin: 0px;
        background-color: $base-white;
        border: 1px solid $primary-color-1;
        color: rgb(88, 155, 236);
    }


    .chip-row {
        display: flex;
        flex-wrap: nowrap;
        gap: 5px;
        padding: 5px;

        .file-chip {
            display: flex;
            align-items: center;
            border: 1px solid $primary-color-1;
            border-radius: 25px;
            padding: 5px;

            span {
                width: 70px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            i {
                margin: 0 5px;
                cursor: pointer;
            }
        }
    }

    .error {
        color: red;
        margin-top: 5px;
        font-size: 14px;
    }
}


.modal {

    .actions {
        display: flex;
        justify-content: flex-end;
        gap: 8px;
        margin-top: 12px;


        button {
            height: 40px;
        }
    }

}

button {

    i {
        margin-left: 8px;
    }
}

.loading-table-container {
    display: flex;
    justify-content: center;
    align-items: center;

    i {
        font-size: 24px;
        margin-left: 15px;
    }
}